@font-face {
  font-family: SFBold;
  src: url("fonts/SF-Pro-Display-Bold.otf");
}
@font-face {
  font-family: SFMed;
  src: url("fonts/SF-Pro-Display-Medium.otf");
}

.lobby-room {
  width: 480px;
  margin: auto;
}
.lobby {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
.lobby-container {
  width: 480px;
  min-height: 80vh;
  display: flex;
}

.play-button {
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  font-size: 20px;
  color: #fff;
  outline: none;
  border: none;
  background-color: #3227c4;
  box-shadow: 0 3px #999;
  border-radius: 10px;
}
.play-button:hover {
  background-color: #350f7c;
}

.play-button:active {
  background-color: #0e1075;
  box-shadow: 0 3px #666;
}

.team1 {
  width: 50vw;
  text-align: center;
  font-size: 25px;
  position: relative;
  background-color: #e0e0eb;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
}

.team1-header {
  border-style: solid;
  border-color: #000000;
  border-top: 2px;
  border-left: 2px;
  border-right: 2px;
  padding: 5px;
}

.team2 {
  width: 50vw;
  text-align: center;
  font-size: 25px;
  position: relative;
  background-color: #e0e0eb;
  border-style: solid;
  border-color: #000000;
  border-left: 3px;
}

.team2-header {
  border-style: solid;
  border-color: #000000;
  border-top: 2px;
  border-left: 2px;
  border-right: 2px;
  padding: 5px;
}

#game-room-header {
  margin: auto;
  width: 90%;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
.game-room-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #e0e0eb;
  padding: 10px;
  margin: auto;
  width: 90%;
}

.game-room {
  background-color: rgba(201, 192, 192, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.itemMissing {
  grid-column-start: 1;
  grid-column-end: 3;
  border-style: solid;
  border-color: #ff0000;
  border-width: 3px;
}

.itemCompleted {
  grid-column-start: 1;
  grid-column-end: 3;
  border-style: solid;
  border-color: #00ff00;
  border-width: 3px;
}

.fileUploadButton {
  text-align: center;
  margin: auto;
}

.welcome-room {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: SFBold;
  font-size: 3vw;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .welcome-room {
    width: 80%;
    font-family: SFBold;
    font-size: 8vw;
    text-align: center;
  }
  #userLobbyInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #userInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

#player-name {
  font-family: SFMed;
  font-size: 1.5vw;
}

#userLobbyInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#userInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#errorMessage {
  font-family: SFMed;
  font-size: 2vw;
}
.submit-button {
  width: 100%;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  outline: none;
  border: none;
  background-color: #3227c4;
  border-radius: 10px;
}

.submit-button:hover {
  background-color: #350f7c;
}

.submit-button:active {
  background-color: #0e1075;
  box-shadow: 0 3px #666;
}

.submitbuttonX {
  width: auto;
}

#blackbackground {
  background-color: lightblue;
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  font-size: 150px;
}

#timerDiv {
  text-align: center;
  font-size: 50px;
}
input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 3px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  padding: 30px;
}
