.lobby-room{
    width: 480px;
    margin: auto;
}
.lobby{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.lobby-container{
    width: 480px;
    min-height: 80vh;
    display: flex;
}

.play-button{
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team1{
    width: 50vw;
    text-align: center;
    font-size: 25px;
    position: relative;
    background-color: #e0e0eb;
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
}

.team1-header{
    position: absolute;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
}

.team2{
    width: 50vw;
    text-align: center;
    font-size: 25px;
    position: relative;
    background-color: #e0e0eb;
    border-style: solid;
    border-color: #000000;
    border-left: 3px;
}

.team2-players{
    position: absolute;
    text-align: center;
}

#game-room-header{
    margin: auto;
    width: 480px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.game-room-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #e0e0eb;
    padding: 10px;
    margin: auto;
    width: 480px;

}

.game-room {
    background-color: rgba(201, 192, 192, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.itemMissing{
    grid-column-start: 1;
    grid-column-end: 3;
    border-style: solid;
    border-color: #ff0000;
    border-width: 3px; 
}

.itemCompleted{
    grid-column-start: 1;
    grid-column-end: 3;
    border-style: solid;
    border-color: #00ff00;
    border-width: 3px; 
}

.buttonUploaded {
    pointer-events: none;
}



.welcome-room{
    background-color: e0e0eb;
    width: 480px;
    margin: auto;
    text-align: center;
}
