.lobby-room{
    width: 480px;
    margin: auto;
}
.lobby{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.lobby-container{
    width: 480px;
    min-height: 80vh;
    display: flex;
}

.play-button{
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    font-size: 20px;
    color: #fff;
    outline: none;
    border: none;
    background-color: #3227c4;
    box-shadow: 0 3px #999;
    border-radius: 10px;
}
.play-button:hover {
    background-color: #350f7c;
}

.play-button:active{
    background-color: #0e1075;
    box-shadow: 0 3px #666;
}

.team1{
    width: 50vw;
    text-align: center;
    font-size: 25px;
    position: relative;
    background-color: #e0e0eb;
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
}

.team1-header{
    border-style: solid;
    border-color: #000000;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    padding: 5px;
}

.team2{
    width: 50vw;
    text-align: center;
    font-size: 25px;
    position: relative;
    background-color: #e0e0eb;
    border-style: solid;
    border-color: #000000;
    border-left: 3px;
}

.team2-header{
    border-style: solid;
    border-color: #000000;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    padding: 5px;
}

.game-room-header{
    margin: auto;
    width: 480px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.game-room-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #e0e0eb;
    padding: 10px;
    margin: auto;
    width: 480px;

}

.game-room {
    background-color: rgba(201, 192, 192, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.itemMissing{
    grid-column-start: 1;
    grid-column-end: 3;
    border-style: solid;
    border-color: #ff0000;
    border-width: 3px; 
}

.itemCompleted{
    grid-column-start: 1;
    grid-column-end: 3;
    border-style: solid;
    border-color: #00ff00;
    border-width: 3px; 
}

.buttonUploaded {
    pointer-events: none;
}



.welcome-room{
    width: 480px;
    height: 480px;
    background-color: #e0e0eb;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    position: relative;
    box-shadow: 5px 5px;
}

.welcome{
    position: absolute;
    margin-top: 100px;

}

#reg-form{
    position: absolute;
    margin: auto;
    margin-top: 200px;
    
}

.submit-button{
    position: absolute;
    margin-top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
    outline: none;
    border: none;
    background-color: #3227c4;
    box-shadow: 0 5px #999;
    border-radius: 10px;
}

.submit-button:hover {
    background-color: #350f7c;
}

.submit-button:active{
    background-color: #0e1075;
    box-shadow: 0 3px #666;

}